<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">


    <!--
    添加菜品
    -->
    <insert id="insertDish"  useGeneratedKeys="true" keyProperty="id" >

        insert into dish
        (id,name, category_id, price, image, description,create_time,
         update_time, create_user,update_user, status)
        values
         (null ,#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{createTime},
          #{updateTime}, #{createUser},#{updateUser}, #{status})


    </insert>
    <select id="pageQuery" resultType="com.sky.entity.Dish">
        select * from dish
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null and categoryId != ''">
                and categoryId = #{categoryId}
            </if>
        </where>
    </select>
</mapper>